/* produtoCarrinho */
#imgProduto{
    width: 10%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#imgProduto img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#descricaoProduto{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}

#boxCarrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#produtoCarrinho{
    width: 80%;
    height: auto;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(162,162,162);
    background: linear-gradient(90deg, rgba(162,162,162,1) 0%, rgba(208,208,208,1) 35%, rgba(255,255,255,1) 100%); 
}

@media screen and(max-width:1421px) {
    #imgProduto{
        width: 109.75px;
        height: 96.16px;
    }
    
}